form {
	margin: 0 auto;
}

h3 {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
}

#form-holder {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.input-row {
	padding: 1% 0;
	display: block;
}

.label {
	padding: 1% 0;
}

.label div {
	padding: 1% 0;
}

.field {
	padding: 1% 0;
}

.bday {
	width: 
}

input {
	text-align: center;
}