body {
	margin: 0;
	font-family: 'quicksandlight', 'quicksandlight_italic';
	
}

main {
	flex: 1 0 auto;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		max-width: 500px;
	}
}